apiVersion: apps/v1
kind: Deployment
metadata:
  name: springboot-deployment
  labels:
    app: spring-serv
spec:
  replicas: 1
  selector:
    matchLabels:
      app: spring-serv
  template:
    metadata:
      labels:
        app: spring-serv
    spec:
      containers:
        - name: spring-serv
          image: mengsoklay/deops-backend:82
          ports:
            - containerPort: 8181
